@font-face {
    font-family: 'icomoon';
    src:  url('icomoon.eot?fnt1ae');
    src:  url('icomoon.eot?fnt1ae#iefix') format('embedded-opentype'),
    url('icomoon.ttf?fnt1ae') format('truetype'),
    url('icomoon.woff?fnt1ae') format('woff'),
    url('icomoon.svg?fnt1ae#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.ea {
    /*display: inline-block;*/
    /*font: normal normal normal 14px/1 icomoon;*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*text-rendering: auto;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    font: normal normal normal 14px icomoon;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}
.ea-reman:before {
    content: "\e900";
}

.ea-2x {
    font-size: 2em;
}
